*{
    margin: 0px;
    padding: 0px;
    font-style: italic;
    box-sizing: border-box;
}

.carousel-inner {
    height: 700px;
}

.flecha {
    position: absolute;
    transform: translate(-300%,-0%);
}



/* HEADER */
/* Navegacion en lista */
.navbar-brand {
    color: rgb(204,154,6);
}

.nav-item a{
    color: rgb(204,154,6);
}

.navbar-nav, .nav-link {
    color: rgb(204,154,6);
}

body {
    background-color: rgb(27, 24, 24);
}


/* --------------------- PAGINA NUESTROS SERVICIOS----------------------- */
/* ----------------IMAGEN ARRIBA DE TARJETAS ---- IMAGEN ABAJO DE TARJETAS-------------- */

.Servicio {
    display: flex;
    width: 100%;
    height: 300px;
    margin-bottom: 200px;
    margin-top: 150px;
    justify-content: center;
}


/* ---------------------TARJETAS------------------------ */

.Tarj {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.Wrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.Tarjeta {
    display: flex;
    width: 320px;
    height: 400px;
    padding: 2rem 1rem;
    background: #000;
    position: relative;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba (0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

.Tarjeta:hover {
    transform: translateY(20px);
}

.Tarjeta:hover img {
    opacity: 0.5;
}


.Tarjeta:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba (150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 1; 
}

.Tarjeta:hover:before {
    opacity: 1;
}


.Tarjeta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.Tarjeta .Info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.Tarjeta:hover .Info {
    opacity: 1;
    transform: translateY(0px);
}

.Tarjeta .Info h2 {
    margin: 0;
    
}

.Tarjeta .Info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.Tarjeta .Info .btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: rgb(235, 232, 232);
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.Tarjeta .Info .btn {
    box-shadow: 0px 7px 10px rgba (0,0,0,0.5);
}
/* -------TERMINAN TARJETAS---------- */

/* ----------------- PAGINA CONTACTENOS--------------------- */
/* --------- CUADRO DE CONTACTO------------ */

.contacto {
    min-height: 100vh;
    width: 100%;
    display: flex;
    background: url(../Recursos/Chevrolet/Contactenos/Fondo.jpg) rgba(0, 0, 0, 0.5)

}

.form {
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
}

.form__container {
    display: grid;
    width: 100%;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__titulo {
    text-align: center;
    color: rgb(204,154,6);
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form__input {
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #000;
    border-radius: 0.2em;
}

.form__input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form__cta {
    background-color: rgb(204,154,6);
    color: #000;
    font-size: 1rem;
    border: none;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}


















/* MAIN */
/* Titulo Oferta del Mes */

.OfertaMes {
    margin-top: 5rem;
    text-align: center;
    font-size: 25px;
    background-color: rgb(151, 184, 214);
    color: rgb(172, 9, 123);
}

.Oferta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
    grid-template-areas:  "Ele1 Ele1"
                          "Ele2 Ele3"
                          "Ele4 Ele4"
                          "Ele5 Ele6";             
}

.OfertaOnix {
    grid-area: Ele1;
    text-align: center;
    align-self: center;
    font-size: 25px;
    color: white;

}

.ListaOferta1 {
    grid-area: Ele2;
    list-style-type: none;
    line-height: 50px;
    padding-left: 1rem;
    text-align: center;
    color: white;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px rgb(172, 9, 123);
    border-radius: 15px;
    font-family: sans-serif;
    align-self: center;
    margin-left: 25%;
    background-color: black;
}

.LicitaOnix {
  padding-top: 6rem;
  padding-left: 2rem;
  color: white;
}

.LicitaOnix2 {
    padding-top: 0.5rem;
    padding-left: 2rem;
    color: white;
  }

.ListaOferta1 h3 {
    margin-bottom: 2rem;
    color: white;
}

.ImagenOnix{
    grid-area: Ele3;
    background-image: url(../Recursos/Onix-joy.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    
}

.OfertaTcross{
    grid-area: Ele4;
    text-align: center;
    align-self: center;
    font-size: 25px;
    color: white;
}

.Tcross { 
    grid-area: Ele5;

}

.ImagenTcross {
    background-image: url(../Recursos/Tcross.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
}

.ListaOferta2 {
    grid-area: Ele6;
    list-style-type: none;
    line-height: 50px;
    padding-left: 1rem;
    text-align: center;
    color: white;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px rgb(172, 9, 123);
    border-radius:15px;
    font-family: sans-serif;
    align-self: center;
    margin-left: 25%;
    background-color: black;

}

.LicitaTcross1 {
    padding-right: 2rem;
    padding-top: 6rem;
    text-align: right;
    color: white;
}

.LicitaTcross2 {
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: right;
    color: white;
}

.ListaOferta2 h3 {
    margin-bottom: 2rem;
    color:white;
}

button {
    position: relative;
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    background: #350642;
    color: #dcc2e4;
    margin-top: 3rem;
    margin-left: 45%;
    margin-bottom: 3rem;
}

button:hover {
    color: white;
}

button span {
    position: absolute;
    background: white;
    transition: 0.5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}


/* REDES */
.Redes{
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin: 1rem;
}

footer{
    color: white;
    text-align: center;
    background-image: url(../Recursos/Footer/FondoFooter.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.TituloFooter {
    padding-top: 1rem;
}

.Footer__P{
    padding-top: 2.5rem;
}

footer img:hover {
    transform: scale(1.5);
    transition: 0.5s;
}
/* --------------------------- PAGINA AUTOS ----------------------------- */

.Kuga {
    width: 700px;
    height: 400px;
}



























/* // `xs` returns only a ruleset and no media query
// ... { ... }

// `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    .Tarj {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    }

    .Media {
        height: 300px;
    }
    .Media button {
        color: #fff;
    }
    #carouselExampleIndicators {
        width: 320px;
        height: 250px;
    }
    
    #carouselExampleIndicators img{
        height: 250px;
    }

    .navbar-toggler button {
        color: #fff;
    }

    .Servicio img{
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: contain;
    }
    .form {
        padding: 3.5em 1em;;
    }
}


/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { ... }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { ... }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { ... }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { ... }