*{
    margin: 0px;
    padding: 0px;
    font-style: italic;
    box-sizing: border-box;
}


.carousel-inner {
    height: 700px;
}

.flecha {
    position: absolute;
    transform: translate(-300%,-0%);
}



/* HEADER */
/* Navegacion en lista */
.navbar-brand {
    color: rgb(204,154,6);
}

.nav-item a{
    color: rgb(204,154,6);
}

.navbar-nav, .nav-link {
    color: rgb(204,154,6);
}






/* MAIN */
/* Titulo Oferta del Mes */

.OfertaMes {
    margin-top: 5rem;
    text-align: center;
    font-size: 25px;
    background-color: rgb(151, 184, 214);
    color: rgb(172, 9, 123);
}

.Oferta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
    grid-template-areas:  "Ele1 Ele1"
                          "Ele2 Ele3"
                          "Ele4 Ele4"
                          "Ele5 Ele6";             
}

.OfertaOnix {
    grid-area: Ele1;
    text-align: center;
    align-self: center;
    font-size: 25px;
    color: white;

}

.ListaOferta1 {
    grid-area: Ele2;
    list-style-type: none;
    line-height: 50px;
    padding-left: 1rem;
    text-align: center;
    color: white;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px rgb(172, 9, 123);
    border-radius: 15px;
    font-family: sans-serif;
    align-self: center;
    margin-left: 25%;
    background-color: black;
}

.LicitaOnix {
  padding-top: 6rem;
  padding-left: 2rem;
  color: white;
}

.LicitaOnix2 {
    padding-top: 0.5rem;
    padding-left: 2rem;
    color: white;
  }

.ListaOferta1 h3 {
    margin-bottom: 2rem;
    color: white;
}

.ImagenOnix{
    grid-area: Ele3;
    background-image: url(../Recursos/Onix-joy.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
    
}

.OfertaTcross{
    grid-area: Ele4;
    text-align: center;
    align-self: center;
    font-size: 25px;
    color: white;
}

.Tcross { 
    grid-area: Ele5;

}

.ImagenTcross {
    background-image: url(../Recursos/Tcross.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: cover;
}

.ListaOferta2 {
    grid-area: Ele6;
    list-style-type: none;
    line-height: 50px;
    padding-left: 1rem;
    text-align: center;
    color: white;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px rgb(172, 9, 123);
    border-radius:15px;
    font-family: sans-serif;
    align-self: center;
    margin-left: 25%;
    background-color: black;

}

.LicitaTcross1 {
    padding-right: 2rem;
    padding-top: 6rem;
    text-align: right;
    color: white;
}

.LicitaTcross2 {
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: right;
    color: white;
}

.ListaOferta2 h3 {
    margin-bottom: 2rem;
    color:white;
}

button {
    position: relative;
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
    background: #350642;
    color: #dcc2e4;
    margin-top: 3rem;
    margin-left: 45%;
    margin-bottom: 3rem;
}

button:hover {
    color: white;
}

button span {
    position: absolute;
    background: white;
    transition: 0.5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}


/* REDES */
.Redes{
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin: 1rem;
}

footer{
    color: white;
    text-align: center;
    background-image: url(../Recursos/Footer/FondoFooter.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.Footer__P{
    padding-top: 4rem;
}
/* --------------------------- PAGINA AUTOS ----------------------------- */

.Kuga {
    width: 700px;
    height: 400px;
}