* {
  margin: 0px;
  padding: 0px;
  font-style: italic;
  box-sizing: border-box; }

.carousel-inner {
  width: auto;
  height: 700px;
  max-height: 700px; }

.carousel-item img {
  height: 700px !important; }

.flecha {
  position: absolute;
  transform: translate(-300%, 0%); }

/* HEADER */
/* Navegacion en lista */
.navbar-brand {
  color: #cc9a06; }

.nav-item a {
  color: #cc9a06; }

.navbar-nav, .nav-link {
  color: #cc9a06; }

body {
  background-color: #1b1818; }

/* REDES */
.Redes {
  width: 3rem;
  height: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin: 1rem; }

.footer {
  color: #fff;
  text-align: center;
  background-image: url(../Recursos/Footer/FondoFooter.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 200px; }
  .footer__titulo {
    padding-top: 1rem;
    font-size: 1.3rem; }
  .footer img:hover {
    transform: scale(1.5);
    transition: 0.5s; }

/* ----------------- PAGINA CONTACTENOS--------------------- */
/* --------- CUADRO DE CONTACTO------------ */
.contacto {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), black), url("https://images.pexels.com/photos/101710/pexels-photo-101710.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-size: cover; }

.form {
  width: 90%;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em;
  margin: auto; }
  .form__container {
    display: grid;
    width: 100%;
    gap: 1em;
    grid-auto-columns: 100%; }
  .form__titulo {
    text-align: center;
    color: #ffbf00;
    font-weight: 700;
    font-size: 1.9rem;
    margin-bottom: .4em; }
  .form__input {
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #000;
    border-radius: 0.2em; }
    .form__input--message {
      resize: none;
      padding: 1.8em 1em;
      margin-bottom: .5em; }
  .form__cta {
    background-color: #cc9a06;
    color: #000;
    font-size: 1rem;
    border: none;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer; }

/* --------------------- PAGINA NUESTROS SERVICIOS----------------------- */
/* ----------------IMAGEN ARRIBA DE TARJETAS ---- IMAGEN ABAJO DE TARJETAS-------------- */
.Servicio {
  display: flex;
  width: 100%;
  height: 300px;
  margin-bottom: 200px;
  margin-top: 100px;
  justify-content: center; }

.NuestrosServicios {
  font-size: 1em;
  width: 100%;
  height: 200px;
  text-align: center;
  color: #cc9a06; }

/* ---------------------TARJETAS------------------------ */
.Tarj {
  display: flex;
  justify-content: center;
  align-items: center; }

.Wrapper {
  display: flex;
  width: 70%;
  justify-content: space-around; }

.Tarjeta {
  display: flex;
  width: 320px;
  height: 400px;
  padding: 2rem 1rem;
  background: #000;
  position: relative;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba 0, 0, 0, 0.5;
  transition: 0.5s ease-in-out;
  /*     display: flex;
    width: 320px;
    height: 400px;
    padding: 2rem 1rem;
    background: #000;
    position: relative;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba (0,0,0,0.5);
    transition: 0.5s ease-in-out;
 */ }
  .Tarjeta:hover {
    transform: translateY(20px); }
    .Tarjeta:hover .Info {
      opacity: 1;
      transform: translateY(0px); }
    .Tarjeta:hover img {
      opacity: 0.5; }
    .Tarjeta:hover:before {
      opacity: 1; }
  .Tarjeta:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba 150, 201, 61, 1);
    z-index: 2;
    transition: 0.5s all;
    opacity: 1; }
  .Tarjeta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0; }
  .Tarjeta .Info {
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all; }
    .Tarjeta .Info h2 {
      margin: 0; }
    .Tarjeta .Info p {
      letter-spacing: 1px;
      font-size: 15px;
      margin-top: 8px;
      margin-bottom: 20px; }
    .Tarjeta .Info .btn {
      text-decoration: none;
      padding: 0.5rem 1rem;
      background: #ebe8e8;
      color: #000;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      box-shadow: 0px 7px 10px rgba 0, 0, 0, 0.5; }

/* -------TERMINAN TARJETAS---------- */
/* ***************** ARRANCA BOTON ****************** */
button {
  position: relative;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: 1s;
  overflow: hidden;
  background: #b9ad00;
  color: #000;
  margin-top: 3rem;
  margin-left: 45%;
  margin-bottom: 3rem; }

button:hover {
  color: white; }

button span {
  position: absolute;
  background: white;
  transition: 1s; }

button span:nth-child(1) {
  width: 100%;
  height: 1px;
  top: 0;
  left: -100%; }

button span:nth-child(2) {
  width: 100%;
  height: 1px;
  bottom: 0;
  right: -100%; }

button span:nth-child(3) {
  width: 1px;
  height: 100%;
  bottom: -100%;
  left: 0; }

button span:nth-child(4) {
  width: 1px;
  height: 100%;
  top: -100%;
  right: 0; }

button:hover span:nth-child(1) {
  left: 0; }

button:hover span:nth-child(2) {
  right: 0; }

button:hover span:nth-child(3) {
  bottom: 0; }

button:hover span:nth-child(4) {
  top: 0; }

/* -------------------TERMINA BOTON-------------------------- */
.TituloDestacado h3 {
  font-size: 3em;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.TituloDestacado h4 {
  font-size: 25px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.DescripcionDestacado {
  display: flex;
  flex-flow: column nowrap; }
  .DescripcionDestacado h3 {
    font-size: 25px;
    color: #cc9a06;
    text-align: center;
    margin-top: 20px; }
  .DescripcionDestacado p {
    width: 50%;
    font-size: 20px;
    color: #cc9a06;
    line-height: 30px;
    text-align: center;
    margin: auto; }

.Licita p {
  font-size: 20px;
  color: #fff;
  text-align: left;
  margin: 0;
  margin-left: 15px; }

.Destacado {
  display: flex;
  flex-flow: row nowrap;
  padding: 40px 100px; }

.Contenedor {
  display: flex;
  flex-flow: column nowrap;
  background: gray;
  border: solid black 3px;
  width: 80%;
  aspect-ratio: 4/5;
  cursor: pointer; }
  .ContenedorA {
    display: flex;
    border: solid black 3px;
    flex-basis: 75%;
    flex-flow: row nowrap; }
    .ContenedorA img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .ContenedorA1 {
      border: solid black 3px;
      flex-basis: 75%; }
    .ContenedorA2 {
      display: flex;
      border: solid black 3px;
      flex-basis: 25%;
      flex-flow: column wrap; }

.AutoA {
  flex-grow: 1; }
  .AutoA img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.ContenedorB {
  display: flex;
  border: solid black 3px;
  flex-basis: 25%;
  min-height: 25%;
  flex-flow: row nowrap;
  overflow: hidden; }

.AutoB {
  flex-grow: 1; }
  .AutoB img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

/* --------------- CARRUSEL DE IMAGENES -------------- */
.modal {
  --bs-modal-width: 100%;
  background: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel-item img {
  object-fit: cover;
  height: 700px; }

.TituloAuto {
  display: flex;
  min-height: 10vh;
  margin-top: 7%;
  justify-content: center; }
  .TituloAutoB {
    position: relative; }
    .TituloAutoB h1 {
      font-size: 4em;
      position: absolute;
      letter-spacing: 5px;
      transform: translate(-50%, -50%); }

.TituloAutoB h1:nth-child(1) {
  color: #cc9a06;
  -webkit-text-stroke: 2px rgb 166, 0, 255; }

.TituloAutoB h1:nth-child(2) {
  color: #fff;
  animation: animate 3s ease-in-out infinite; }

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%); }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%); } }

.Categoria {
  text-align: center;
  font-size: 4em;
  margin-top: 50px;
  margin-bottom: 100px;
  color: #cc9a06;
  text-decoration: underline; }

.Vehiculo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 25px 25px;
  align-content: flex-start; }
  .Vehiculo__texto {
    text-align: center;
    color: #cc9a06; }
    .Vehiculo__texto p {
      font-size: 1.1em; }
  .Vehiculo__img {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: auto; }
    .Vehiculo__img img {
      border-radius: 1rem; }
  .Vehiculo__galeria {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #cc9a06;
    cursor: pointer; }
    .Vehiculo__galeria h4 {
      font-size: 1.3em; }

.separacion {
  width: 100%;
  height: 5px;
  background-color: #000; }

.FondoCruze {
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url("https://images.pexels.com/photos/248747/pexels-photo-248747.jpeg");
  background-attachment: fixed;
  background-size: cover; }

.FondoOnix {
  background-image: linear-gradient(rgba(0, 0, 0, 0), black), url("https://images.pexels.com/photos/434450/pexels-photo-434450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-size: cover; }

.FondoJoy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), black), url("https://images.pexels.com/photos/54546/pexels-photo-54546.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-size: cover; }

.FondoServicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), black), url("https://images.pexels.com/photos/326259/pexels-photo-326259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-size: cover; }

.FondoIndex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), black), url("https://images.pexels.com/photos/9462582/pexels-photo-9462582.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-size: cover; }

.FondoTracker {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("https://images.pexels.com/photos/379419/pexels-photo-379419.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-size: cover; }

.FondoS10 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), black), url("https://images.pexels.com/photos/339814/pexels-photo-339814.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-size: cover; }

.ImgTracker {
  display: flex;
  width: 100%;
  height: 500px;
  margin-bottom: 100px;
  margin-top: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.ImgTracker img {
  border-radius: 2rem;
  cursor: pointer; }

.TituloTracker {
  text-align: center;
  font-size: 4em;
  margin-top: 50px;
  margin-bottom: 100px;
  color: #cc9a06; }

.Tracker {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  margin-top: 100px;
  margin-bottom: 100px; }
  .TrackerGaleria {
    text-align: center;
    color: #cc9a06;
    margin-top: 20px;
    cursor: pointer; }
  .TrackerTexto {
    width: 50%;
    margin-top: 15px; }
    .TrackerTexto h3 {
      text-align: center;
      color: #cc9a06; }
    .TrackerTexto h4 {
      text-align: center;
      color: #cc9a06;
      font-size: 1em;
      margin-top: 40px; }
    .TrackerTexto p {
      font-size: 1.1em;
      color: #cc9a06;
      text-align: center;
      padding: 2rem; }
  .TrackerTextoUltimo {
    width: 100%;
    font-size: 1em;
    color: #cc9a06;
    text-align: center;
    padding: 2rem;
    margin-top: 50px;
    margin-bottom: 50px; }
    .TrackerTextoUltimo h3 {
      text-align: center;
      color: #cc9a06; }
    .TrackerTextoUltimo h4 {
      text-align: center;
      color: #cc9a06;
      font-size: 1em;
      margin-top: 40px; }
    .TrackerTextoUltimo p {
      font-size: 1.1em;
      color: #cc9a06;
      text-align: center;
      padding: 2rem; }
  .TrackerImg img {
    border-radius: 2rem; }
  .TrackerImg {
    width: 50%; }

.ImgS10 {
  display: flex;
  width: 100%;
  height: 500px;
  margin-bottom: 100px;
  margin-top: 100px;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.ImgS10 img {
  border-radius: 2rem;
  cursor: pointer; }

.TituloS10 {
  text-align: center;
  font-size: 4em;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #cc9a06; }

.S10 {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  margin-top: 100px;
  margin-bottom: 100px; }
  .S10Galeria {
    text-align: center;
    color: #cc9a06;
    margin-top: 20px;
    cursor: pointer; }
  .S10Texto {
    width: 50%;
    margin-top: 15px; }
    .S10Texto h3 {
      text-align: center;
      color: #cc9a06; }
    .S10Texto h4 {
      text-align: center;
      color: #cc9a06;
      font-size: 1em;
      margin-top: 40px; }
    .S10Texto p {
      font-size: 1.1em;
      color: #cc9a06;
      text-align: center;
      padding: 2rem; }
  .S10Img img {
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem; }
  .S10Img {
    width: 50%; }

@media (max-width: 575.98px) {
  .Media button {
    color: #fff; }
  .nodisplay {
    display: none; }
  .TituloDestacado h3 {
    font-size: 2em; }
  .DescripcionDestacado h3 {
    font-size: 20px; }
  .DescripcionDestacado p {
    font-size: 14px; }
  .Licita {
    margin: 50px 0; }
    .Licita p {
      font-size: 14px; }
  .navbar-toggler button {
    color: #fff; }
  .Servicio img {
    width: 100%;
    object-fit: contain; }
  .form {
    padding: 3.5em 1em; }
  .Destacado {
    flex-flow: column nowrap;
    padding: 0; }
  .Contenedor {
    flex-flow: column nowrap;
    align-self: center; }
  .ContenedorA {
    flex-flow: column nowrap; }
  .ContenedorB {
    flex-flow: column nowrap;
    min-height: 0%;
    /*para que no se salga la caja b del contenedor*/ }
  .BotonQuery {
    display: flex;
    justify-content: center; }
  .BotonCelu {
    margin: 3rem 0; }
  /* ********/
  .footer__titulo {
    font-size: 1rem; }
  .Redes {
    width: 2rem;
    height: 2rem; }
  /* **********/
  .TituloAuto {
    margin-top: 15vh; }
  .Vehiculo {
    grid-template-columns: 1fr; }
    .Vehiculo__texto h3 {
      font-size: 1.2rem; }
    .Vehiculo__texto p {
      font-size: 1rem; } }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 1281.98px) {
  .Destacado {
    flex-flow: column nowrap;
    padding: 0; }
  .Contenedor {
    flex-flow: column nowrap;
    align-self: center; }
  .ContenedorA {
    flex-flow: column nowrap; }
  .ContenedorB {
    flex-flow: column nowrap;
    min-height: 0%;
    /*para que no se salga la caja b del contenedor*/ }
  .Licita {
    margin: 100px auto; }
  /* ********/
  .footer__titulo {
    font-size: 1rem; }
  .TituloAuto {
    margin-top: 15vh; } }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .Media {
    height: 100% !important; }
  .carousel-inner {
    width: 100%;
    height: 100%; }
  .carousel-item img {
    height: 100% !important;
    aspect-ratio: 16/9; }
  .BotonQuery {
    display: flex;
    justify-content: center; }
  .BotonCelu {
    margin: 3rem 0; }
  .colorBoton {
    background-color: #cc9a06 !important; }
  .Tarj {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem; }
  /* TRACKER */
  .ImgTracker {
    height: 300px;
    margin: 50px 0; }
  .TituloTracker {
    font-size: 1.5em;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 100px; }
  .Tracker {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px; }
    .TrackerTexto {
      width: 100%; }
      .TrackerTexto p {
        font-size: 0.8em; }
    .TrackerTextoUltimo {
      margin-top: 0;
      margin-bottom: 10px; }
      .TrackerTextoUltimo p {
        font-size: 0.8em; }
  /* *********S10************* */
  .ImgS10 {
    height: 300px;
    margin: 50px 0; }
  .TituloS10 {
    font-size: 1.5em;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 100px; }
  .S10 {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 25px; }
    .S10Texto {
      width: 100%; }
      .S10Texto p {
        font-size: 0.8em; }
    .S10TextoUltimo {
      margin-top: 0;
      margin-bottom: 10px; }
      .S10TextoUltimo p {
        font-size: 0.8em; }
    .S10Img {
      margin: auto; }
    .S10Img img {
      margin-left: 0;
      margin-right: 0; } }
