/* ***************** ARRANCA BOTON ****************** */
button {
    position: relative;
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 8s;
    overflow: hidden;
    background: $negro;
    color: $amarillo;
    margin-top: 3rem;
    margin-left: 45%;
    margin-bottom: 3rem;
}

button:hover {
    color: white;

}

button span {
    position: absolute;
    background: white;
    transition: 8s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}
/* -------------------TERMINA BOTON-------------------------- */