/* REDES */
.Redes{
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin: 1rem;
}

.footer{
    color: $blanco;
    text-align: center;
    background-image: url(../Recursos/Footer/FondoFooter.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 200px;

    &__titulo {
        padding-top: 1rem;
        font-size: 1.3rem;
    }

    img:hover {
        transform: scale(1.5);
        transition: 0.5s;
    }

}