@media (max-width: 575.98px) {
    .Media button {
        color: #fff;
    }

    .nodisplay {
        display: none;
    }

    .TituloDestacado {
        h3 {
            font-size: 2em;
        }
    }

    .DescripcionDestacado {
        h3 {
            font-size: 20px;
        }
        p {
            font-size: 14px;
        }
    }
    .Licita{
        margin: 50px 0;
    
    p {
        font-size: 14px;
    }
    }

    .navbar-toggler button {
        color: #fff;
    }

    .Servicio img{
        width: 100%;
        object-fit: contain;
    }
    .form {
        padding: 3.5em 1em;
    }

    .Destacado { 
        flex-flow: column nowrap;
        padding: 0;
    }
    .Contenedor {
        flex-flow: column nowrap;
        align-self: center;
                
    }
    .ContenedorA{
        flex-flow: column nowrap;
        
    }
    .ContenedorB{
        flex-flow: column nowrap;
         min-height: 0% ; /*para que no se salga la caja b del contenedor*/  
    }

    .BotonQuery {
        display: flex;
        justify-content: center;
    }

    .BotonCelu {
        margin: 3rem 0;
    }

    /* ********/////////////FOOTER/////////********** */
    .footer__titulo {
            font-size: 1rem;
        }
    .Redes {
            width: 2rem;
            height: 2rem;
        }

    /* **********///////////// PAGINAS AUTOS /////////******** */
    .TituloAuto {
        margin-top: 15vh;
    }

    .Vehiculo {
        grid-template-columns: 1fr;

        &__texto {
            h3 {
                font-size: 1.2rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }
}


/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 1281.98px) { 
    .Destacado { 
        flex-flow: column nowrap;
        padding: 0;
    }
    .Contenedor {
        flex-flow: column nowrap;
        align-self: center;
                
    }
    .ContenedorA{
        flex-flow: column nowrap;
        
    }
    .ContenedorB{
        flex-flow: column nowrap;
         min-height: 0% ; /*para que no se salga la caja b del contenedor*/  
    }
    .Licita {
       margin: 100px auto;
    }
    /* ********/////////////FOOTER/////////********** */
    .footer__titulo {
        font-size: 1rem;
    }
    .TituloAuto {
        margin-top: 15vh;
    }
}

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .Media {
        height: 100% !important;
    }
    .carousel-inner {
        width: 100%;
        height: 100%;
        
    }
    .carousel-item img {
        height: 100% !important;
        aspect-ratio: 16/9;
    }

    .BotonQuery {
        display: flex;
        justify-content: center;
    }

    .BotonCelu {
        margin: 3rem 0;
    }

    .colorBoton {
        background-color: $amarillo !important;
    }

    .Tarj {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;
        }

    /* TRACKER */
    .ImgTracker {
        height: 300px;
        margin: 50px 0;

    }
    .TituloTracker {
        font-size: 1.5em;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 100px;
    }
    
    .Tracker {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 25px;
        &Texto {
            width: 100%;
            p {
                font-size: 0.8em;
            }
        }
        &TextoUltimo {
            margin-top: 0;
            margin-bottom: 10px;
            p {
            font-size: 0.8em;
            }
        }
    }    

    /* *********S10************* */
    .ImgS10 {
        height: 300px;
        margin: 50px 0;

    }
    .TituloS10 {
        font-size: 1.5em;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 100px;
    }
    
    .S10 {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 25px;
        &Texto {
            width: 100%;
            p {
                font-size: 0.8em;
            }
        }
        &TextoUltimo {
            margin-top: 0;
            margin-bottom: 10px;
            p {
            font-size: 0.8em;
            }
        }
        &Img {
            margin: auto;
        }
        &Img img {
            margin-left: 0;
            margin-right: 0;
        }

    }    

 }

